@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

.btn-outline-primary {
  color: tomato;
  border-color: tomato;
}

.link-hover:hover {
  color: tomato;
}
.btn-outline-primary:hover {
  background-color: tomato;
  border-color: tomato;
}
.serch-button {
  visibility: hidden;
  width: 10px;
  transition: width 2s;
}
.serch-button-icon:hover .serch-button {
  visibility: visible;
  width: 150px;
}
a {
  text-decoration: none;
  color: black;
}
.hover-icon a {
  transition: 0.5s ease;
}

.hover-icon a:hover {
  color: tomato;

  transform: scale(1.1);
}
.bg-tomato {
  background-color: tomato;

  border: 0;
  border-radius: 10px;
  list-style: none;
}
.bg-tomato a {
  color: whitesmoke;
}
.bg-tomato:hover {
  opacity: 0.8;
}
.read-more:hover {
  color: tomato;
}
.cover-bg-color {
  background-color: rgb(253, 232, 235);
}

.send-bg:hover {
  background-color: tomato;
  color: white;
}
